<header class="main-header">
  <div class="header-content">
    <div class="logo-container">
      <img
        src="./img/logo.jpg"
        alt="Logo de Librería Modular"
        class="site-logo"
      />
      <h1 class="site-title-display">Book Store</h1>
    </div>

    <div class="search-bar">
      <input type="search" placeholder="Buscar libros, autores..." />
      <button>Buscar</button>
    </div>

    <div class="header-actions">
      <button class="menu-toggle">☰</button>
      <a
        href="index.html#carrito"
        id="cart-count-header"
        class="cart-button-header"
        >🛒 Carrito (0)</a
      >
    </div>
  </div>
</header>
