<aside class="main-sidebar">
  <nav>
    <h3 class="sidebar-title">Navegación</h3>
    <ul class="sidebar-menu">
      <li><a href="index.html">🏡 Inicio</a></li>
      <li><a href="catalogo.html">📚 Catálogo Completo</a></li>
      <li><a href="novedades.html">✨ Novedades</a></li>
    </ul>

    <h3 class="sidebar-title">Géneros</h3>
    <ul class="sidebar-menu">
      <li><a href="#">Ciencia Ficción</a></li>
      <li><a href="#">Historia</a></li>
    </ul>
    <hr />
    <ul class="sidebar-menu">
      <li><a href="login.html">➡️ Cerrar Sesión</a></li>
    </ul>
  </nav>
</aside>
